*,body,html{
    margin: 0;
    padding: 0;
}

.topBar{
    background-color: #fff !important;
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 1rem;
    background-color: #f9f9f9;
    gap: 1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    position: relative;
    z-index: 1 !important;

}

.profileWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.profileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.profileImg:hover {
  border-color: #888;
}

.dropdown {
  position: absolute;
  top: 52px; 
  right: 0;
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  width: 14rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.dropdown.open {
  max-height: 500px; 
}

.dropdownItem1,
.dropdownItem2 {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: .5rem;
  color: #4a4a4a;
  padding: .5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease, opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(-10px);
}

.dropdown.open .dropdownItem1,
.dropdown.open .dropdownItem2 {
  opacity: 1;
  transform: translateY(0);
}

.dropdownItem1 {
  border-radius: 4px 4px 0 0;
}

.dropdownItem2 {
  border-radius: 0 0 4px;
  background-color: #fff;
  border: none;
}

.dropdownItem1:hover,
.dropdownItem2:hover {
  background-color: #374151;
  color: #fff;
}

.svgLogout, .svgProf{
  width: 22px;
  height: 22px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.welcomeText{
    font-weight: 300;
}

p{
    margin-top: auto;
    margin-bottom: auto;
    font-family: "Oswald", sans-serif;
}

.sideBar {
background: linear-gradient(
  rgba(13, 37, 76, 0.9), 
  rgba(13, 37, 76, 0.9)
    ),
    url('../../assets/cargo6.jpg');
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  color: #F9FAFB;
  width: 240px;
  height: 100%;
  padding: 1.5rem 0;
  display: flex;    
  flex-direction: column;
  gap: 3.5rem;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 0px 10px;
  z-index: 2;
}
.logoHeader{
    font-weight: 700;
    font-size: 44px;
    font-family: "Oswald", sans-serif !important;
    padding: 0 1.5rem;
}
.logoSubHeader{
  font-size: 18px;
    padding: 0 1.5rem;

}
.searchBox{
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 32px;
    padding: 0 8px;
}
.hr{
    border: 1px solid #383e4d;
}
.menuCaption{
    padding: 0 1rem 1.5rem 1rem;
    font-weight:bold;
    font-size: 14px;
    color: #ccc;
    font-family: "Oswald", sans-serif;
    /* text-align: center; */
}
ul li{
    list-style-type: none;
}
.menuList{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 0 .25rem;
}

.menuItem{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.link{
    text-decoration: none;
    padding: .75rem 0;
    transition: 0.2s ease-in-out;
}
svg{
    height: 22px;
    width: 22px;
}
.SVGvendor{
    height: 20px;
    width: 22px;
}
.SVGuser{
    height: 24px;
    width: 24px;
}

.svg:hover{
    color: #fff !important;
}

.active {
  color: #fff;
  transition: 0.6s ease-in-out;
}

.flexUserManagement {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.accordionItem {
  margin-bottom: 8px;
  border-radius: 4px;
  transition: 0.1s ease-in-out;
  user-select: none;
  padding: 0 .25rem;
}

.accordionItem:hover {
  background-color: #0a1c3a;
}

.accordionHeader {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  cursor: pointer;
  color: #fff; 
  transition: 0.4s;
  user-select: none;
}

.accordionContent {
  /* padding: 0 1rem;  */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out;
  background-color: #fff; 
}

.openAccordion {
  padding: .5rem 0 .5rem; 
  border-radius: 0 0 4px 4px;
}

.accordionContent .link {
  background-color: #fff;
  text-decoration: none;
  display: block;
}

.link {
  text-decoration: none;
  display: block;
  padding: 10px 0 10px 2rem; 
  transition: all 0.2s ease;
}

.link p {
  color: #3a3a3a !important; 
  font-size: 0.95rem;
  margin: 0;
  font-family: "Oswald", sans-serif;
}

.accordionContent .link:hover  {
  background-color: #eee;
}

/* --- Utility --- */
.arrow {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(90deg);
}

.flexUserManagement{
  display: flex;
  align-items: center;
  gap: .75rem;
}


.dropdown {
  position: absolute;
  top: 52px;
  right: 0;
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  width: 14rem;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.dropdown.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

a{
  text-decoration: none;
}