body{
    background-color: #f1f5f9;
}

.mainLogin,.mainRegister{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formLogin{
    width: 100vw;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.2rem 24px 1.5rem;
    border-radius: 6px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: #fff;
}

.formRegister{
    width: 100vw;
    width: 450px;
    display: flex;
    gap: 1rem;
    padding: 2rem;
    border-radius: 6px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-color: #fff;
    flex-direction: column;
    gap: .75rem;
}
.headSubhead{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.75rem;
}
.subheadAuth{
    font-weight: 300;
    color: #0D254C;
    font-size: 15px;
}
.authHeadertext{
    font-size: 2rem;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    color: #0D254C;
}
.flexLabelfield{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}
.authLabel{
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    color: #0D254C;
}
.fieldLogin,.btnLogin,.fieldRegister,.btnRegister{
    height: 40px;
    border-radius: 4px;
    border: none;
    padding: 0 6px;
    border: 1px solid #ccc;
    width: 100%;
}

.btnLogin,.btnRegister{
    background-color: #0D254C;
    color: #fff;
    margin-top: .2rem;
}

.linkLogin,.linkRegister{
    font-size: 14px;
    color: #424242;
    font-family: inter, sans-serif;
}
.link{
    font-family: "Oswald", sans-serif;
}
a{
    font-family: inter, sans-serif !important;
    color: #0D254C;
    text-decoration: underline;
}


.img{
    width: 330px;
    height: 170px;
    margin-bottom: .25rem;
}

.title{
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    padding-top: 1.5rem;
    color: #3a3a3a;
}
.subtitle{
    color: #616161;
    font-family: inter, sans-serif;
    font-size: 14px;

}
.flexField{
    display: flex;
    gap:.75rem;
}
.flexInput{
    display: flex;
    gap: .5rem;
}
.selectRole{
    outline: none;
    height: 40px;
    border-radius: 4px;
    border: none;
    padding: 0 6px;
    border: 1px solid #ccc;
    width: 100%;
    color: #4a4a4a;
    cursor: pointer;
}